# System Files
.DS_Store
Thumbs.db

# IntelliJ
/.idea

# Other git repositories
/backend-location
/backend-runs
/backend-tcxreader
/backend-strava
/backend-trace-maker
/sample_runs
/frontend

# databases
/database-h2
/database-postgres

#Github personal key
github-ghp.txt

# Log file
*.log
